**import dependencies**

In [7]:
import keras
import numpy as np
import pandas as pd

**import the data with pandas**

In [8]:
df=pd.read_csv('./HousingPrices.csv')
df.head()

,YearBuilt,2ndFlrSF,GrLivArea,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,YrSold,SalePrice
0,2003,854,1710,2,1,3,8,2008,208500
1,1976,0,1262,2,0,3,6,2007,181500
2,2001,866,1786,2,1,3,6,2008,223500
3,1915,756,1717,1,0,3,7,2006,140000
4,2000,1053,2198,2,1,4,9,2008,250000

**X = every attribute except for the sale price, Y = sale price**

In [9]:
X = df.drop(columns=['SalePrice'])
Y = df[['SalePrice']]

In [6]:
X

,YearBuilt,2ndFlrSF,GrLivArea,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,YrSold
0,2003,854,1710,2,1,3,8,2008
1,1976,0,1262,2,0,3,6,2007
2,2001,866,1786,2,1,3,6,2008
3,1915,756,1717,1,0,3,7,2006
4,2000,1053,2198,2,1,4,9,2008
...,...,...,...,...,...,...,...,...
1455,1999,694,1647,2,1,3,7,2007
1456,1978,0,2073,2,0,3,7,2010
1457,1941,1152,2340,2,0,4,9,2010
1458,1950,0,1078,1,0,2,5,2010
1459,1965,0,1256,1,1,3,6,2008

**model: three layers of basic Dense, with 8, 8 and 1 neurons**

In [10]:
model = keras.models.Sequential()

model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

In [11]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 153
Trainable params: 153
Non-trainable params: 0
_________________________________________________________________

** train model **

In [12]:
model.fit(X, Y, epochs=10, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

Epoch 1/10
46/46 [==============================] - ETA: 0s - loss: 39259402240.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 1ms/step - loss: 39259402240.0000
Epoch 2/10
 1/46 [..............................] - ETA: 0s - loss: 31385344000.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 1ms/step - loss: 39093280768.0000
Epoch 3/10
 1/46 [..............................] - ETA: 0s - loss: 31093944320.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 1ms/step - loss: 39000424448.0000
Epoch 4/10
 1/46 [..............................] - ETA: 0s - loss: 35006701568.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 992us/step - loss: 38900002816.0000
Epoch 5/10
 1/46 [..............................] - ETA: 0s - loss: 51003244544.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 1ms/step - loss: 38737752064.0000
Epoch 6/10
 1/46 [..............................] - ETA: 0s - loss: 35847294976.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 971us/step - loss: 38473621504.0000
Epoch 7/10
 1/46 [..............................] - ETA: 0s - loss: 26040952832.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 993us/step - loss: 38042595328.0000
Epoch 8/10
 1/46 [..............................] - ETA: 0s - loss: 33630547968.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 1ms/step - loss: 37337948160.0000
Epoch 9/10
 1/46 [..............................] - ETA: 0s - loss: 33300094976.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 935us/step - loss: 36239728640.0000
Epoch 10/10
 1/46 [..............................] - ETA: 0s - loss: 33936803840.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
46/46 [==============================] - 0s 945us/step - loss: 34638548992.0000

**we need an np.array to predict:**
1. YearBuilt
2. 2ndFlrSF
3. GrLivArea
4. FullBath	
5. HalfBath	
6. BedroomAbvGr	
7. TotRmsAbvGrd	
8. YrSold
****

In [13]:
test_data = np.array([2003,854,1710,2,1,3,8,2008])
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[16630.69]]

**to save this model for later use **

In [14]:
model.save('saved_model.h5')
!ls

HousingPrices.csv     HousingPricesNN.ipynb saved_model.h5

**to load the model**

In [15]:
old_model = keras.models.load_model('saved_model.h5')

test_data = np.array([2003,854,1710, 2,1,3,8,2008])
print(old_model.predict(test_data.reshape(1,8), batch_size=1))

[[16630.69]]